<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fields</key>
	<array>
		<dict>
			<key>caption</key>
			<string>Nome</string>
			<key>type</key>
			<string>text</string>
            <key>field</key>
            <string>name</string>
            <key>format</key>
            <string>string</string>
		</dict>
        <dict>
            <key>caption</key>
            <string>Numero seriale</string>
            <key>type</key>
            <string>text</string>
            <key>field</key>
            <string>serialNumber</string>
            <key>format</key>
            <string>string</string>
        </dict>
        <dict>
            <key>caption</key>
            <string>Barcode</string>
            <key>type</key>
            <string>text</string>
            <key>field</key>
            <string>barcode</string>
            <key>format</key>
            <string>string</string>
        </dict>
        <dict>
            <key>caption</key>
            <string>Prezzo unitario</string>
            <key>type</key>
            <string>text</string>
            <key>field</key>
            <string>unitPrice</string>
            <key>format</key>
            <string>currency</string>
        </dict>
        <dict>
            <key>caption</key>
            <string>Prezzo</string>
            <key>type</key>
            <string>text</string>
            <key>field</key>
            <string>price</string>
            <key>format</key>
            <string>currency</string>
       </dict>
        <dict>
            <key>caption</key>
            <string>I.V.A.</string>
            <key>type</key>
            <string>text</string>
            <key>field</key>
            <string>vat</string>
            <key>format</key>
            <string>percent</string>
       </dict>
        <dict>
            <key>caption</key>
            <string>Categoria</string>
            <key>type</key>
            <string>picker</string>
            <key>source</key>
            <string>category</string>
            <key>format</key>
            <string>string</string>
        </dict>
        <dict>
            <key>caption</key>
            <string>Dipartimento</string>
            <key>type</key>
            <string>picker</string>
            <key>source</key>
            <string>department</string>
            <key>format</key>
            <string>string</string>
        </dict>
        <dict>
            <key>caption</key>
            <string>Unità di misura</string>
            <key>type</key>
            <string>text</string>
            <key>field</key>
            <string>unit</string>
            <key>format</key>
            <string>integer</string>
        </dict>
        <dict>
            <key>caption</key>
            <string>Quantità</string>
            <key>type</key>
            <string>text</string>
            <key>field</key>
            <string>quantity</string>
            <key>format</key>
            <string>integer</string>
       </dict>
        <dict>
            <key>caption</key>
            <string>Scorta minima</string>
            <key>type</key>
            <string>text</string>
            <key>field</key>
            <string>minimumStock</string>
            <key>format</key>
            <string>integer</string>
        </dict>
        <dict>
            <key>caption</key>
            <string>Note</string>
            <key>type</key>
            <string>text</string>
            <key>field</key>
            <string>note</string>
            <key>format</key>
            <string>string</string>
       </dict>

	</array>
</dict>
</plist>
