<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Supplier.plist
   warehouse

   Created by Alessandro Perna on 30/10/2020.
   Copyright (c) 2020 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>fields</key>
        <array>
            <dict>
                <key>caption</key>
                <string>Ragione Sociale</string>
                <key>type</key>
                <string>text</string>
                <key>field</key>
                <string>businessName</string>
                <key>format</key>
                <string>string</string>
            </dict>
            <dict>
                <key>caption</key>
                <string>Titolo</string>
                <key>type</key>
                <string>text</string>
                <key>field</key>
                <string>title</string>
                <key>format</key>
                <string>string</string>
            </dict>
            <dict>
                <key>caption</key>
                <string>Nome</string>
                <key>type</key>
                <string>text</string>
                <key>field</key>
                <string>name</string>
                <key>format</key>
                <string>string</string>
            </dict>
            <dict>
                <key>caption</key>
                <string>Cognome</string>
                <key>type</key>
                <string>text</string>
                <key>field</key>
                <string>surname</string>
                <key>format</key>
                <string>string</string>
            </dict>
            <dict>
                <key>caption</key>
                <string>Partita I.V.A.</string>
                <key>type</key>
                <string>text</string>
                <key>field</key>
                <string>vatNumber</string>
                <key>format</key>
                <string>string</string>
            </dict>
            <dict>
                <key>caption</key>
                <string>Codice Fiscale</string>
                <key>type</key>
                <string>text</string>
                <key>field</key>
                <string>fiscalCode</string>
                <key>format</key>
                <string>string</string>
            </dict>
        </array>
    </dict>
</plist>
